## This is the top level configuration file for lombok

config.stopBubbling = true

## Emit a warning or error if an experimental feature is used

#lombok.experimental.flagUsage = ERROR

## Add @lombok.Generated annotations to all generated nodes; useful for style checkers and code coverage tools like JaCoCo
lombok.addLombokGeneratedAnnotation = true

## Allowed features

lombok.allArgsConstructor.flagUsage = ALLOW
lombok.builder.flagUsage = ALLOW
lombok.data.flagUsage = ALLOW
lombok.equalsAndHashCode.flagUsage = ALLOW
lombok.getter.flagUsage = ALLOW
lombok.noArgsConstructor.flagUsage = ALLOW
lombok.requiredArgsConstructor.flagUsage = ALLOW
lombok.setter.flagUsage = ALLOW
lombok.toString.flagUsage = ALLOW
lombok.value.flagUsage = ALLOW
lombok.log.slf4j.flagUsage = ALLOW
lombok.val.flagUsage = ALLOW
lombok.var.flagUsage = ALLOW

## Forbiden features

#lombok.accessors.flagUsage = ERROR
lombok.cleanup.flagUsage = ERROR
lombok.delegate.flagUsage = ERROR
lombok.extensionMethod.flagUsage = ERROR
lombok.fieldDefaults.flagUsage = ERROR
lombok.helper.flagUsage = ERROR
#lombok.log.flagUsage = ERROR
lombok.log.apacheCommons.flagUsage = ERROR
lombok.log.javaUtilLogging.flagUsage = ERROR
lombok.log.jbosslog.flagUsage = ERROR
lombok.log.log4j.flagUsage = ERROR
lombok.log.log4j2.flagUsage = ERROR
lombok.log.xslf4j.flagUsage = ERROR
lombok.nonNull.flagUsage = ERROR
lombok.onX.flagUsage = ERROR
lombok.sneakyThrows.flagUsage = ERROR
lombok.synchronized.flagUsage = ERROR
lombok.utilityClass.flagUsage = ERROR
lombok.wither.flagUsage = ERROR